* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.my-yellow {
    color: #F9D674;
}

.my-black {
    color: #323F57;
}

.bg-my-yellow {
    background-color: #F9D674;
}

.bg-my-black {
    background-color: #323F57;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

.bg-footer-gr {
    background: rgb(50, 63, 87);
    background-image: linear-gradient(180deg, rgba(50, 63, 87, 1) 0%, rgba(41, 126, 253, 1) 100%);
}


.bg-slide1 {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-slide2 {
    background-image: url(../img/header2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-slide3 {
    background-image: url(../img/header3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.filter {
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.5))
}

.before::before {
    content: "$17000";
    margin-right: 15px;
    text-decoration: line-through;
    font-size: 1.2rem;
    color: #828a92;
}

.height {
    height: 100px;
}

.bg-intro {
    background-image: url(../img/intro.png);
}

.section-width {
    max-width: 1225px;
}

.main-width {
    max-width: 1400px;
}

.pointer {
    cursor: pointer;
}

.gap {
    gap: 0.5rem; 
}

.overflow-h {
    overflow: hidden;
}

.div-dimension {
    width: 300px;
    height: 300px;
}

#top {
    position: fixed;
    right: 5%;
    top: 90%;
    display: none;
}